<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_free_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{684,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,494}}</string>
                <key>sourceSize</key>
                <string>{684,494}</string>
            </dict>
            <key>hall_free_freshMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,687},{53,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,22}}</string>
                <key>sourceSize</key>
                <string>{53,22}</string>
            </dict>
            <key>hall_free_icon__iphone_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,579},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>hall_free_icon_bindphone.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,660},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>hall_free_icon_checkin.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,633},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>hall_free_icon_fivestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,471},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>hall_free_icon_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,525},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>hall_free_icon_jiangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,25},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hall_free_icon_lottery.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,363},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>hall_free_icon_maskLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,167},{144,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,140}}</string>
                <key>sourceSize</key>
                <string>{144,140}</string>
            </dict>
            <key>hall_free_icon_member.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,255},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>hall_free_icon_parse_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,417},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>hall_free_icon_redpackets.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,147},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>hall_free_icon_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,309},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>hall_free_icon_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>hall_free_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,25},{144,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,140}}</string>
                <key>sourceSize</key>
                <string>{144,140}</string>
            </dict>
            <key>hall_free_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,681},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>hall_free_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,660},{267,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,19}}</string>
                <key>sourceSize</key>
                <string>{267,19}</string>
            </dict>
            <key>hall_free_slider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{269,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,21}}</string>
                <key>sourceSize</key>
                <string>{269,21}</string>
            </dict>
            <key>hall_free_smallPeople.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,498},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hall_free_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{630,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,160}}</string>
                <key>sourceSize</key>
                <string>{630,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_free.png</string>
            <key>size</key>
            <string>{967,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eff3a982c3e50646f82600760f46b84c:1/1$</string>
            <key>textureFileName</key>
            <string>hall_free.png</string>
        </dict>
    </dict>
</plist>
