<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_animation_everyday_login_got_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{148,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,140}}</string>
                <key>sourceSize</key>
                <string>{148,140}</string>
            </dict>
            <key>hall_animation_everyday_login_got_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,140}}</string>
                <key>sourceSize</key>
                <string>{148,140}</string>
            </dict>
            <key>hall_animation_everyday_login_got_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{148,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,140}}</string>
                <key>sourceSize</key>
                <string>{148,140}</string>
            </dict>
            <key>hall_animation_everyday_login_got_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,140}}</string>
                <key>sourceSize</key>
                <string>{148,140}</string>
            </dict>
            <key>hall_animation_pop_coin_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,570},{65,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>hall_animation_pop_coin_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,637},{47,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,76}}</string>
                <key>sourceSize</key>
                <string>{47,76}</string>
            </dict>
            <key>hall_animation_pop_coin_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,84},{18,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,74}}</string>
                <key>sourceSize</key>
                <string>{18,74}</string>
            </dict>
            <key>hall_animation_pop_coin_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,637},{47,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,76}}</string>
                <key>sourceSize</key>
                <string>{47,76}</string>
            </dict>
            <key>hall_animation_pop_coin_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,570},{65,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>hall_animation_pop_coin_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,204},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,368},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,368},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,286},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,614},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,412},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,412},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,412},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,330},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,412},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,412},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,330},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,84},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,84},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,248},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,166},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,248},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,84},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,166},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,84},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,630},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,428},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10029.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,428},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,630},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,428},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10031.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,346},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10032.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,144},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10033.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_10034.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,428},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>hall_animation_pop_wnd_btn_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,144},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_animation.png</string>
            <key>size</key>
            <string>{990,712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a4a624334700311972c26c5a44c020c:1/1$</string>
            <key>textureFileName</key>
            <string>hall_animation.png</string>
        </dict>
    </dict>
</plist>
