<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_hall_mj_btn_jxmj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_jxmj_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_mj_btn_jxmj_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_hall_mj_simple_jinxi.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b0cf6e1253850658948013987f7eb89:1/1$</string>
            <key>textureFileName</key>
            <string>hall_hall_mj_simple_jinxi.png</string>
        </dict>
    </dict>
</plist>
