<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_userinfo_bg_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,428}}</string>
                <key>sourceSize</key>
                <string>{358,428}</string>
            </dict>
            <key>hall_userinfo_bg_item_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,162},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>hall_userinfo_bg_medal_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,322},{158,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,157}}</string>
                <key>sourceSize</key>
                <string>{158,157}</string>
            </dict>
            <key>hall_userinfo_bgitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>hall_userinfo_formal_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{64,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,190}}</string>
                <key>sourceSize</key>
                <string>{64,190}</string>
            </dict>
            <key>hall_userinfo_link_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,336},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>hall_userinfo_name_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,436},{80,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,65}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>hall_userinfo_rank_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,194},{206,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,36}}</string>
                <key>sourceSize</key>
                <string>{206,36}</string>
            </dict>
            <key>hall_userinfo_reward_item_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,402},{94,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,69}}</string>
                <key>sourceSize</key>
                <string>{94,69}</string>
            </dict>
            <key>hall_userinfo_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{273,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,2}}</string>
                <key>sourceSize</key>
                <string>{273,2}</string>
            </dict>
            <key>hall_userinfo_superior_ranks.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,194},{40,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,140}}</string>
                <key>sourceSize</key>
                <string>{40,140}</string>
            </dict>
            <key>hall_userinfo_temp_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{64,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,190}}</string>
                <key>sourceSize</key>
                <string>{64,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_userinfo.png</string>
            <key>size</key>
            <string>{602,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acbed68c68c6bd948b0513a587cfb7e5:1/1$</string>
            <key>textureFileName</key>
            <string>hall_userinfo.png</string>
        </dict>
    </dict>
</plist>
