<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_hall_quick_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,508},{217,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,65}}</string>
                <key>sourceSize</key>
                <string>{217,65}</string>
            </dict>
            <key>hall_icon_ddz_happy_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,123},{89,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,54}}</string>
                <key>sourceSize</key>
                <string>{89,54}</string>
            </dict>
            <key>hall_icon_ddz_happy_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,540},{78,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,48}}</string>
                <key>sourceSize</key>
                <string>{78,48}</string>
            </dict>
            <key>hall_icon_ddz_happy_hand_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,346},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>hall_icon_ddz_happy_hand_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,365},{61,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,43}}</string>
                <key>sourceSize</key>
                <string>{61,43}</string>
            </dict>
            <key>hall_icon_ddz_happy_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,716},{92,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,87}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
            <key>hall_icon_ddz_laizi_arm_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,554},{49,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,37}}</string>
                <key>sourceSize</key>
                <string>{49,37}</string>
            </dict>
            <key>hall_icon_ddz_laizi_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,620},{76,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>hall_icon_ddz_laizi_foot_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,716},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>hall_icon_ddz_laizi_foot_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,332},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>hall_icon_ddz_laizi_hand_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,698},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>hall_icon_ddz_laizi_hand_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,792},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>hall_icon_ddz_laizi_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{172,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,157}}</string>
                <key>sourceSize</key>
                <string>{172,157}</string>
            </dict>
            <key>hall_icon_ddz_laizi_hoe.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,351},{74,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,138}}</string>
                <key>sourceSize</key>
                <string>{74,138}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{84,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,119}}</string>
                <key>sourceSize</key>
                <string>{84,119}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,696},{123,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,26}}</string>
                <key>sourceSize</key>
                <string>{123,26}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body02.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,353},{172,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,28}}</string>
                <key>sourceSize</key>
                <string>{172,28}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body03.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,527},{167,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,26}}</string>
                <key>sourceSize</key>
                <string>{167,26}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body04.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,136},{208,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,78}}</string>
                <key>sourceSize</key>
                <string>{208,78}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body05.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,194},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body06.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{184,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,132}}</string>
                <key>sourceSize</key>
                <string>{184,132}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body07.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,575},{93,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,119}}</string>
                <key>sourceSize</key>
                <string>{93,119}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body08.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,724},{101,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body09.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,438},{100,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,105}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{101,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body11.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,540},{99,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,105}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body12.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,216},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,190}}</string>
                <key>sourceSize</key>
                <string>{233,190}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body14.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,569},{115,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,37}}</string>
                <key>sourceSize</key>
                <string>{115,37}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_body15.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,351},{222,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,56}}</string>
                <key>sourceSize</key>
                <string>{222,56}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_light_.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,805},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>hall_icon_ddz_quick_start_white_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,351},{22,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,155}}</string>
                <key>sourceSize</key>
                <string>{22,155}</string>
            </dict>
            <key>hall_icon_ddz_single_arm_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,795},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>hall_icon_ddz_single_arm_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,795},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>hall_icon_ddz_single_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,647},{67,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,104}}</string>
                <key>sourceSize</key>
                <string>{67,104}</string>
            </dict>
            <key>hall_icon_ddz_single_eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,485},{59,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,23}}</string>
                <key>sourceSize</key>
                <string>{59,23}</string>
            </dict>
            <key>hall_icon_ddz_single_eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,805},{55,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,23}}</string>
                <key>sourceSize</key>
                <string>{55,23}</string>
            </dict>
            <key>hall_icon_ddz_single_hand_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,214},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>hall_icon_ddz_single_hand_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,631},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>hall_icon_ddz_single_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,346},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>hall_icon_ddz_two_people_arm_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,508},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>hall_icon_ddz_two_people_arm_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,510},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>hall_icon_ddz_two_people_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,428},{55,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,43}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>hall_icon_ddz_two_people_foot_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,510},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>hall_icon_ddz_two_people_foot_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,747},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>hall_icon_ddz_two_people_hand_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,605},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>hall_icon_ddz_two_people_hand_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,686},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>hall_icon_ddz_two_people_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,216},{158,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,133}}</string>
                <key>sourceSize</key>
                <string>{158,133}</string>
            </dict>
            <key>hall_icon_ddz_twoone01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{149,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,153}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>hall_icon_ddz_twoone03.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,256},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>hall_icon_ddz_twoone04.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,727},{96,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,104}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>hall_icon_ddz_twoone05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_icon_ddz_twoone06.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,491},{76,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,57}}</string>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_icon_ddz.png</string>
            <key>size</key>
            <string>{509,833}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a68d91b2b095bf867e91f97151673340:1/1$</string>
            <key>textureFileName</key>
            <string>hall_icon_ddz.png</string>
        </dict>
    </dict>
</plist>
