<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_plugin_btn_bairen.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,307},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_bairen_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{200,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,133}}</string>
                <key>sourceSize</key>
                <string>{200,133}</string>
            </dict>
            <key>hall_plugin_btn_bairen_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,810},{89,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>hall_plugin_btn_bairen_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{183,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,163}}</string>
                <key>sourceSize</key>
                <string>{183,163}</string>
            </dict>
            <key>hall_plugin_btn_baohuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,292},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_baohuang_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,699},{119,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,104}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>hall_plugin_btn_baohuang_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,208},{197,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,94}}</string>
                <key>sourceSize</key>
                <string>{197,94}</string>
            </dict>
            <key>hall_plugin_btn_bg_fense.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,307},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>hall_plugin_btn_bg_huangse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,307},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>hall_plugin_btn_bg_lanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,307},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>hall_plugin_btn_bg_lvse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,307},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>hall_plugin_btn_bg_zise.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,307},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>hall_plugin_btn_buyu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,351},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_buyu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,810},{111,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,78}}</string>
                <key>sourceSize</key>
                <string>{111,78}</string>
            </dict>
            <key>hall_plugin_btn_buyu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,584},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>hall_plugin_btn_buyu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,407},{161,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,123}}</string>
                <key>sourceSize</key>
                <string>{161,123}</string>
            </dict>
            <key>hall_plugin_btn_chess.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,351},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_chess_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>hall_plugin_btn_clown.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,776},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_clown_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{204,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,167}}</string>
                <key>sourceSize</key>
                <string>{204,167}</string>
            </dict>
            <key>hall_plugin_btn_dezhou_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,940},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_dezhou_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,137},{153,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,161}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>hall_plugin_btn_dezhou_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,612},{86,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,128}}</string>
                <key>sourceSize</key>
                <string>{86,128}</string>
            </dict>
            <key>hall_plugin_btn_dezhou_star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,437},{90,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,130}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>hall_plugin_btn_dezhou_star03.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,248},{151,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,101}}</string>
                <key>sourceSize</key>
                <string>{151,101}</string>
            </dict>
            <key>hall_plugin_btn_dog.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,858},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_dog_eye_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,805},{103,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,124}}</string>
                <key>sourceSize</key>
                <string>{103,124}</string>
            </dict>
            <key>hall_plugin_btn_douniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,776},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_douniu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,588},{109,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>hall_plugin_btn_douniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,742},{69,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,24}}</string>
                <key>sourceSize</key>
                <string>{69,24}</string>
            </dict>
            <key>hall_plugin_btn_douniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{105,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,60}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>hall_plugin_btn_douniu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,335},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>hall_plugin_btn_douniu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,137},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>hall_plugin_btn_dragon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,744},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_dragon_card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,699},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>hall_plugin_btn_dragon_card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,931},{89,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,106}}</string>
                <key>sourceSize</key>
                <string>{89,106}</string>
            </dict>
            <key>hall_plugin_btn_dragon_card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,920},{77,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,100}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>hall_plugin_btn_dragon_card4.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,570},{172,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,148}}</string>
                <key>sourceSize</key>
                <string>{172,148}</string>
            </dict>
            <key>hall_plugin_btn_fruit.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,762},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_gameset_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{201,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,141}}</string>
                <key>sourceSize</key>
                <string>{201,141}</string>
            </dict>
            <key>hall_plugin_btn_gameset_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,390},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_gameset_bg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,573},{114,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,124}}</string>
                <key>sourceSize</key>
                <string>{114,124}</string>
            </dict>
            <key>hall_plugin_btn_gameset_bgxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,954},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>hall_plugin_btn_gameset_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,204}}</string>
                <key>sourceSize</key>
                <string>{290,204}</string>
            </dict>
            <key>hall_plugin_btn_gameset_pool.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,335},{185,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,53}}</string>
                <key>sourceSize</key>
                <string>{185,53}</string>
            </dict>
            <key>hall_plugin_btn_jinsanshun.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,694},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_jinsanshun_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{190,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,184}}</string>
                <key>sourceSize</key>
                <string>{190,184}</string>
            </dict>
            <key>hall_plugin_btn_junqi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,612},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_junqi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,529},{101,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,91}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>hall_plugin_btn_junqi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,697},{101,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,111}}</string>
                <key>sourceSize</key>
                <string>{101,111}</string>
            </dict>
            <key>hall_plugin_btn_junqi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,901},{51,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,93}}</string>
                <key>sourceSize</key>
                <string>{51,93}</string>
            </dict>
            <key>hall_plugin_btn_junqi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,966},{39,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,74}}</string>
                <key>sourceSize</key>
                <string>{39,74}</string>
            </dict>
            <key>hall_plugin_btn_majiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,390},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_majiang_dice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,514},{72,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>hall_plugin_btn_majiang_dice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{131,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,155}}</string>
                <key>sourceSize</key>
                <string>{131,155}</string>
            </dict>
            <key>hall_plugin_btn_majiang_dice3.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,954},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>hall_plugin_btn_paohuzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,390},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_paohuzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,159},{146,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,143}}</string>
                <key>sourceSize</key>
                <string>{146,143}</string>
            </dict>
            <key>hall_plugin_btn_paohuzi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,529},{122,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,53}}</string>
                <key>sourceSize</key>
                <string>{122,53}</string>
            </dict>
            <key>hall_plugin_btn_paohuzi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,584},{111,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,84}}</string>
                <key>sourceSize</key>
                <string>{111,84}</string>
            </dict>
            <key>hall_plugin_btn_sanzhangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,253},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_sanzhangpai_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,808},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>hall_plugin_btn_sanzhangpai_eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,164},{193,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,82}}</string>
                <key>sourceSize</key>
                <string>{193,82}</string>
            </dict>
            <key>hall_plugin_btn_sanzhangpai_eye12.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,920},{95,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,55}}</string>
                <key>sourceSize</key>
                <string>{95,55}</string>
            </dict>
            <key>hall_plugin_btn_tclown_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,890},{98,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,28}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>hall_plugin_btn_tclown_shenti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,719},{85,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
            <key>hall_plugin_btn_tclown_shenti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,632},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>hall_plugin_btn_tclown_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,307},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_plugin_btn_tclown_ziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,977},{93,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,28}}</string>
                <key>sourceSize</key>
                <string>{93,28}</string>
            </dict>
            <key>hall_plugin_btn_wuziqi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,171},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_plugin_btn_wuziqi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{196,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,121}}</string>
                <key>sourceSize</key>
                <string>{196,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_plugin.png</string>
            <key>size</key>
            <string>{1021,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43162c7d7f43baad062adf7eea14c3f9:1/1$</string>
            <key>textureFileName</key>
            <string>hall_plugin.png</string>
        </dict>
    </dict>
</plist>
