<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_replace_scene_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,8},{550,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,54}}</string>
                <key>sourceSize</key>
                <string>{550,54}</string>
            </dict>
            <key>hall_replace_scene_process_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,8},{550,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,54}}</string>
                <key>sourceSize</key>
                <string>{550,54}</string>
            </dict>
            <key>hall_ui_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,673},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>hall_ui_bg_container.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hall_ui_bg_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,280},{320,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,270}}</string>
                <key>sourceSize</key>
                <string>{320,270}</string>
            </dict>
            <key>hall_ui_bg_frame_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,828},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>hall_ui_bg_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,552},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>hall_ui_bg_window_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,8},{320,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,270}}</string>
                <key>sourceSize</key>
                <string>{320,270}</string>
            </dict>
            <key>hall_ui_btn_big_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,560},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>hall_ui_btn_big_close_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,552},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>hall_ui_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,224},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hall_ui_button_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,710},{116,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{116,72}</string>
            </dict>
            <key>hall_ui_button_close_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,864},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>hall_ui_button_close_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,709},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>hall_ui_button_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,718},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>hall_ui_button_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,782},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hall_ui_button_minus_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,700},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hall_ui_button_neuter.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,542},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>hall_ui_button_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,772},{116,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{116,72}</string>
            </dict>
            <key>hall_ui_button_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,828},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hall_ui_button_plus_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,828},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hall_ui_button_primary.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,551},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>hall_ui_button_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,844},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>hall_ui_button_s_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,385},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>hall_ui_button_secondary.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,846},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>hall_ui_button_xs.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,780},{142,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,46}}</string>
                <key>sourceSize</key>
                <string>{142,46}</string>
            </dict>
            <key>hall_ui_button_xs_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,753},{142,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,46}}</string>
                <key>sourceSize</key>
                <string>{142,46}</string>
            </dict>
            <key>hall_ui_coin_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,722},{238,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,48}}</string>
                <key>sourceSize</key>
                <string>{238,48}</string>
            </dict>
            <key>hall_ui_coin_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,864},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hall_ui_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{388,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,441}}</string>
                <key>sourceSize</key>
                <string>{388,441}</string>
            </dict>
            <key>hall_ui_dashifen_dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{136,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,252}}</string>
                <key>sourceSize</key>
                <string>{136,252}</string>
            </dict>
            <key>hall_ui_dashifen_dialog_bg_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,316},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>hall_ui_highlight_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,406},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
            <key>hall_ui_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,772},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>hall_ui_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>hall_ui_tab_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,451},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>hall_ui_title_bg_short.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,8},{375,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,88}}</string>
                <key>sourceSize</key>
                <string>{375,88}</string>
            </dict>
            <key>msg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{836,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{836,4}}</string>
                <key>sourceSize</key>
                <string>{836,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_ui.png</string>
            <key>size</key>
            <string>{1008,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad4cd5f66da2ff0db946669ecd983dbc:1/1$</string>
            <key>textureFileName</key>
            <string>hall_ui.png</string>
        </dict>
    </dict>
</plist>
