<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nt_diploma_qiandao_qpps01.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,468},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps02.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,235},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps03.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,468},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps04.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,468},{230,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,231}}</string>
                <key>sourceSize</key>
                <string>{230,231}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps05.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,235},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps06.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps07.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps08.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,235},{230,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,231}}</string>
                <key>sourceSize</key>
                <string>{230,231}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps12.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{230,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,231}}</string>
                <key>sourceSize</key>
                <string>{230,231}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps13.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,701},{231,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,230}}</string>
                <key>sourceSize</key>
                <string>{231,230}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps14.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,701},{231,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,230}}</string>
                <key>sourceSize</key>
                <string>{231,230}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{231,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,230}}</string>
                <key>sourceSize</key>
                <string>{231,230}</string>
            </dict>
            <key>nt_diploma_qiandao_qpps16.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,701},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_checkin_new_effect.png</string>
            <key>size</key>
            <string>{933,933}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:996690de077b6064f18dc2e67a40cd5d:1/1$</string>
            <key>textureFileName</key>
            <string>hall_checkin_new_effect.png</string>
        </dict>
    </dict>
</plist>
