<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_ad_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,420}}</string>
                <key>sourceSize</key>
                <string>{250,420}</string>
            </dict>
            <key>hall_ad_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hall_ad_mark_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,698},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hall_ad_mark_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hall_ad_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{250,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,70}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_ad.png</string>
            <key>size</key>
            <string>{254,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48afe2f95b84558faf68308038322a47:1/1$</string>
            <key>textureFileName</key>
            <string>hall_ad.png</string>
        </dict>
    </dict>
</plist>
