<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_transitions_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{316,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,133}}</string>
                <key>sourceSize</key>
                <string>{316,133}</string>
            </dict>
            <key>hall_transitions_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,73},{190,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,92}}</string>
                <key>sourceSize</key>
                <string>{190,92}</string>
            </dict>
            <key>hall_transitions_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,265},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>hall_transitions_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,373},{107,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,115}}</string>
                <key>sourceSize</key>
                <string>{107,115}</string>
            </dict>
            <key>hall_transitions_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,470},{113,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,102}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>hall_transitions_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,332},{79,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,68}}</string>
                <key>sourceSize</key>
                <string>{79,68}</string>
            </dict>
            <key>hall_transitions_06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,265},{79,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,58}}</string>
                <key>sourceSize</key>
                <string>{79,58}</string>
            </dict>
            <key>hall_transitions_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,490},{107,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,89}}</string>
                <key>sourceSize</key>
                <string>{107,89}</string>
            </dict>
            <key>hall_transitions_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,86},{90,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,107}}</string>
                <key>sourceSize</key>
                <string>{90,107}</string>
            </dict>
            <key>hall_transitions_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,86},{107,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,124}}</string>
                <key>sourceSize</key>
                <string>{107,124}</string>
            </dict>
            <key>hall_transitions_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,274},{193,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,56}}</string>
                <key>sourceSize</key>
                <string>{193,56}</string>
            </dict>
            <key>hall_transitions_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,212},{199,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,60}}</string>
                <key>sourceSize</key>
                <string>{199,60}</string>
            </dict>
            <key>hall_transitions_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,86},{83,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,124}}</string>
                <key>sourceSize</key>
                <string>{83,124}</string>
            </dict>
            <key>hall_transitions_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,332},{117,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,82}}</string>
                <key>sourceSize</key>
                <string>{117,82}</string>
            </dict>
            <key>hall_transitions_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{69,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,94}}</string>
                <key>sourceSize</key>
                <string>{69,94}</string>
            </dict>
            <key>hall_transitions_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>hall_transitions_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,346},{58,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,38}}</string>
                <key>sourceSize</key>
                <string>{58,38}</string>
            </dict>
            <key>hall_transitions_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,212},{51,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,70}}</string>
                <key>sourceSize</key>
                <string>{51,70}</string>
            </dict>
            <key>hall_transitions_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{147,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,122}}</string>
                <key>sourceSize</key>
                <string>{147,122}</string>
            </dict>
            <key>hall_transitions_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,440},{73,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,45}}</string>
                <key>sourceSize</key>
                <string>{73,45}</string>
            </dict>
            <key>hall_transitions_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,416},{43,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,68}}</string>
                <key>sourceSize</key>
                <string>{43,68}</string>
            </dict>
            <key>hall_transitions_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,547},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>hall_transitions_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{411,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,82}}</string>
                <key>sourceSize</key>
                <string>{411,82}</string>
            </dict>
            <key>hall_transitions_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,490},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>hall_transitions_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,490},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>hall_transitions_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,416},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>hall_transitions_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,402},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>hall_transitions_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,386},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_transitions.png</string>
            <key>size</key>
            <string>{511,583}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e06ad4987580237876fb1bab7c38dab7:1/1$</string>
            <key>textureFileName</key>
            <string>hall_transitions.png</string>
        </dict>
    </dict>
</plist>
