<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZPan4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,460},{432,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,433}}</string>
                <key>sourceSize</key>
                <string>{432,433}</string>
            </dict>
            <key>ZPan4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,516},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>ZPan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{454,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,456}}</string>
                <key>sourceSize</key>
                <string>{454,456}</string>
            </dict>
            <key>ZPan8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{253,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,409}}</string>
                <key>sourceSize</key>
                <string>{253,409}</string>
            </dict>
            <key>shandian_184.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_roulette_2.png</string>
            <key>size</key>
            <string>{972,927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39d16a161c49e96877be0e140796f5ee:1/1$</string>
            <key>textureFileName</key>
            <string>hall_roulette_2.png</string>
        </dict>
    </dict>
</plist>
