<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_cr_g_pop_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,330}}</string>
                <key>sourceSize</key>
                <string>{424,330}</string>
            </dict>
            <key>hall_cr_pop_word_title_jrfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{164,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,47}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>hall_cr_red_cross_no_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,746},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>hall_hall_bottom_tip_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,963},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>hall_hall_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,742},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,66}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>hall_hall_btn_arena_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,580},{160,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,159}}</string>
                <key>sourceSize</key>
                <string>{160,159}</string>
            </dict>
            <key>hall_hall_btn_classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_hall_btn_classic_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,368},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>hall_hall_btn_classic_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,834},{145,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,128}}</string>
                <key>sourceSize</key>
                <string>{145,128}</string>
            </dict>
            <key>hall_hall_btn_cpu_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,368},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>hall_hall_btn_cpu_front1.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,446},{156,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,93}}</string>
                <key>sourceSize</key>
                <string>{156,93}</string>
            </dict>
            <key>hall_hall_btn_cpu_front2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,774},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>hall_hall_btn_cpu_front3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,546},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>hall_hall_btn_cpu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_hall_btn_ddz_pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_hall_btn_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,286},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_hall_btn_happy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,368},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>hall_hall_btn_happy_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,875},{93,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,83}}</string>
                <key>sourceSize</key>
                <string>{93,83}</string>
            </dict>
            <key>hall_hall_btn_happy_eye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,604},{99,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,84}}</string>
                <key>sourceSize</key>
                <string>{99,84}</string>
            </dict>
            <key>hall_hall_btn_happy_eye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,690},{116,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,83}}</string>
                <key>sourceSize</key>
                <string>{116,83}</string>
            </dict>
            <key>hall_hall_btn_happy_eye3.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,746},{47,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,73}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>hall_hall_btn_happy_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,911},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>hall_hall_btn_laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,224},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_hall_btn_laizi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,368},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>hall_hall_btn_laizi_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,775},{110,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,98}}</string>
                <key>sourceSize</key>
                <string>{110,98}</string>
            </dict>
            <key>hall_hall_btn_loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,435},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>hall_hall_btn_loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_btn_match.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,204},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_hall_btn_match_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,368},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>hall_hall_btn_match_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{146,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,169}}</string>
                <key>sourceSize</key>
                <string>{146,169}</string>
            </dict>
            <key>hall_hall_btn_more_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,435},{210,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,82}}</string>
                <key>sourceSize</key>
                <string>{210,82}</string>
            </dict>
            <key>hall_hall_btn_more_game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,801},{160,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,142}}</string>
                <key>sourceSize</key>
                <string>{160,142}</string>
            </dict>
            <key>hall_hall_btn_more_game_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,647},{188,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,152}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>hall_hall_btn_more_game_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,801},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>hall_hall_btn_quick_start_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,825},{160,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,142}}</string>
                <key>sourceSize</key>
                <string>{160,142}</string>
            </dict>
            <key>hall_hall_btn_quick_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,519},{204,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,126}}</string>
                <key>sourceSize</key>
                <string>{204,126}</string>
            </dict>
            <key>hall_hall_btn_two_people.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_hall_btn_two_people_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,368},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>hall_hall_game_ico_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,334},{210,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,199}}</string>
                <key>sourceSize</key>
                <string>{210,199}</string>
            </dict>
            <key>hall_hall_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,834},{154,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,42}}</string>
                <key>sourceSize</key>
                <string>{154,42}</string>
            </dict>
            <key>hall_hall_page_mark_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,801},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hall_hall_page_mark_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,742},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hall_hall_quick_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,368},{217,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,65}}</string>
                <key>sourceSize</key>
                <string>{217,65}</string>
            </dict>
            <key>hall_hall_user_sex_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,875},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>hall_hall_user_sex_women.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>hall_jianBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,746},{140,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,77}}</string>
                <key>sourceSize</key>
                <string>{140,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_hall.png</string>
            <key>size</key>
            <string>{732,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:279d92ea123e3f27f54b655e7176093a:1/1$</string>
            <key>textureFileName</key>
            <string>hall_hall.png</string>
        </dict>
    </dict>
</plist>
