<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_givegift_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,127},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>hall_givegift_itembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{167,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,203}}</string>
                <key>sourceSize</key>
                <string>{167,203}</string>
            </dict>
            <key>hall_givegift_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,54},{203,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,71}}</string>
                <key>sourceSize</key>
                <string>{203,71}</string>
            </dict>
            <key>hall_givegift_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{380,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,50}}</string>
                <key>sourceSize</key>
                <string>{380,50}</string>
            </dict>
            <key>hall_givegift_tmp.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hall_guangban_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,127},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gxhd01.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,194},{61,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,64}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>hall_gxhd02.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,208},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>hall_gxhd03.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,194},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>hall_gxhd04.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,127},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>hall_gxhd05.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,223},{187,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,40}}</string>
                <key>sourceSize</key>
                <string>{187,40}</string>
            </dict>
            <key>hall_gxhd06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{606,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,98}}</string>
                <key>sourceSize</key>
                <string>{606,98}</string>
            </dict>
            <key>hall_gxhd10.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,102},{320,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,119}}</string>
                <key>sourceSize</key>
                <string>{320,119}</string>
            </dict>
            <key>hall_gxhd11.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,54},{194,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,152}}</string>
                <key>sourceSize</key>
                <string>{194,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_givegift.png</string>
            <key>size</key>
            <string>{1011,271}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0185ae0d84cde62199bf667e71cff487:1/1$</string>
            <key>textureFileName</key>
            <string>hall_givegift.png</string>
        </dict>
    </dict>
</plist>
