<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_pop_first_pay_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{530,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,160}}</string>
                <key>sourceSize</key>
                <string>{530,160}</string>
            </dict>
            <key>hall_pop_preference_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,160}}</string>
                <key>sourceSize</key>
                <string>{530,160}</string>
            </dict>
            <key>hall_vip_flash_sale_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,481},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hall_window_bg_announce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{499,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,58}}</string>
                <key>sourceSize</key>
                <string>{499,58}</string>
            </dict>
            <key>hall_window_btn_shaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,518},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hall_window_everyday_login_reward_recived.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,222},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hall_window_exit_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,546},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>hall_window_fivestar_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>hall_window_fivestar_outer.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,386},{93,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,97}}</string>
                <key>sourceSize</key>
                <string>{93,97}</string>
            </dict>
            <key>hall_window_inner_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,344},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hall_window_lottery_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{218,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,62}}</string>
                <key>sourceSize</key>
                <string>{218,62}</string>
            </dict>
            <key>hall_window_newplayerreward_beiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,344},{251,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,250}}</string>
                <key>sourceSize</key>
                <string>{251,250}</string>
            </dict>
            <key>hall_window_outer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>hall_window_own_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{400,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,58}}</string>
                <key>sourceSize</key>
                <string>{400,58}</string>
            </dict>
            <key>hall_window_plus_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,518},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hall_window_setting_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{360,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,34}}</string>
                <key>sourceSize</key>
                <string>{360,34}</string>
            </dict>
            <key>hall_window_setting_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{360,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,34}}</string>
                <key>sourceSize</key>
                <string>{360,34}</string>
            </dict>
            <key>hall_window_setting_bar_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,124},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>hall_window_setting_btn_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,518},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>hall_window_setting_close_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{120,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>hall_window_setting_open_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,466},{120,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>hall_window_setting_sound_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,344},{120,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>hall_window_sub_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,518},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_window.png</string>
            <key>size</key>
            <string>{1004,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45056d429a6f98d6aeee1fa1b38f49db:1/1$</string>
            <key>textureFileName</key>
            <string>hall_window.png</string>
        </dict>
    </dict>
</plist>
