<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_roulette_item_down_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,391},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>hall_roulette_item_getReward_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,283},{114,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,89}}</string>
                <key>sourceSize</key>
                <string>{114,89}</string>
            </dict>
            <key>hall_roulette_item_getReward_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,286},{97,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,44}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>hall_roulette_item_headF.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,283},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>hall_roulette_item_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{668,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,265}}</string>
                <key>sourceSize</key>
                <string>{668,265}</string>
            </dict>
            <key>hall_roulette_item_show_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,283},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>hall_roulette_item_show_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,391},{56,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,23}}</string>
                <key>sourceSize</key>
                <string>{56,23}</string>
            </dict>
            <key>hall_roulette_item_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,273},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>hall_roulette_soldier_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{159,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,116}}</string>
                <key>sourceSize</key>
                <string>{159,116}</string>
            </dict>
            <key>hall_soldier_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,297},{117,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,75}}</string>
                <key>sourceSize</key>
                <string>{117,75}</string>
            </dict>
            <key>hall_soldier_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,297},{117,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,74}}</string>
                <key>sourceSize</key>
                <string>{117,74}</string>
            </dict>
            <key>hall_soldier_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{412,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,448}}</string>
                <key>sourceSize</key>
                <string>{412,448}</string>
            </dict>
            <key>hall_soldier_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,2},{357,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,154}}</string>
                <key>sourceSize</key>
                <string>{357,154}</string>
            </dict>
            <key>hall_soldier_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,349},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>hall_soldier_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,283},{114,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,89}}</string>
                <key>sourceSize</key>
                <string>{114,89}</string>
            </dict>
            <key>hall_soldier_coin_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,332},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{62,57}</string>
            </dict>
            <key>hall_soldier_ganlanye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,2},{203,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,77}}</string>
                <key>sourceSize</key>
                <string>{203,77}</string>
            </dict>
            <key>hall_soldier_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,203},{357,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,201}}</string>
                <key>sourceSize</key>
                <string>{357,201}</string>
            </dict>
            <key>hall_soldier_item_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,368},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>hall_soldier_jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,332},{61,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,31}}</string>
                <key>sourceSize</key>
                <string>{61,31}</string>
            </dict>
            <key>hall_soldier_kaijiangjindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,375},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>hall_soldier_left_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,203},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>hall_soldier_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{323,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,2}}</string>
                <key>sourceSize</key>
                <string>{323,2}</string>
            </dict>
            <key>hall_soldier_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,269},{97,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,44}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>hall_soldier_nowReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,203},{170,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,49}}</string>
                <key>sourceSize</key>
                <string>{170,49}</string>
            </dict>
            <key>hall_soldier_now_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,144},{140,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,47}}</string>
                <key>sourceSize</key>
                <string>{140,47}</string>
            </dict>
            <key>hall_soldier_now_item_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,2},{140,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,47}}</string>
                <key>sourceSize</key>
                <string>{140,47}</string>
            </dict>
            <key>hall_soldier_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,361},{105,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,31}}</string>
                <key>sourceSize</key>
                <string>{105,31}</string>
            </dict>
            <key>hall_soldier_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,361},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>hall_soldier_process_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,2},{247,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,12}}</string>
                <key>sourceSize</key>
                <string>{247,12}</string>
            </dict>
            <key>hall_soldier_process_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{257,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,22}}</string>
                <key>sourceSize</key>
                <string>{257,22}</string>
            </dict>
            <key>hall_soldier_process_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{247,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,12}}</string>
                <key>sourceSize</key>
                <string>{247,12}</string>
            </dict>
            <key>hall_soldier_process_nw.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,269},{247,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,12}}</string>
                <key>sourceSize</key>
                <string>{247,12}</string>
            </dict>
            <key>hall_soldier_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{469,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,199}}</string>
                <key>sourceSize</key>
                <string>{469,199}</string>
            </dict>
            <key>hall_soldier_to_lottery.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,207},{140,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,47}}</string>
                <key>sourceSize</key>
                <string>{140,47}</string>
            </dict>
            <key>hall_soldier_tolottery.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,203},{140,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,47}}</string>
                <key>sourceSize</key>
                <string>{140,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_soldier.png</string>
            <key>size</key>
            <string>{1913,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3858f643ef96a1a712183c68c0d4095e:1/1$</string>
            <key>textureFileName</key>
            <string>hall_soldier.png</string>
        </dict>
    </dict>
</plist>
