<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_hall_mj_btn_big_jrpz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{266,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,261}}</string>
                <key>sourceSize</key>
                <string>{266,261}</string>
            </dict>
            <key>hall_hall_mj_btn_big_jrpz_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_mj_btn_big_jrpz_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,261}}</string>
                <key>sourceSize</key>
                <string>{266,261}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_hall_mj_simple_big_jrpz.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0ad4e984911893633eb54ea66cd22b7:1/1$</string>
            <key>textureFileName</key>
            <string>hall_hall_mj_simple_big_jrpz.png</string>
        </dict>
    </dict>
</plist>
