<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZPan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{347,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,307}}</string>
                <key>sourceSize</key>
                <string>{347,307}</string>
            </dict>
            <key>ZPan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{460,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,319}}</string>
                <key>sourceSize</key>
                <string>{460,319}</string>
            </dict>
            <key>ZPan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>ZPan4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,311},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ZPan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,160},{124,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,156}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>ZPan6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{124,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,156}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>ZPan6_1_.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,311},{95,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,77}}</string>
                <key>sourceSize</key>
                <string>{95,77}</string>
            </dict>
            <key>ZPan9.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,706},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dapxy.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,643},{61,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>hall_ZPan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,494},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>hall_roulette_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,390},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>hall_roulette_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,390},{102,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,60}}</string>
                <key>sourceSize</key>
                <string>{102,60}</string>
            </dict>
            <key>hall_roulette_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,576},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>hall_roulette_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,553},{274,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,98}}</string>
                <key>sourceSize</key>
                <string>{274,98}</string>
            </dict>
            <key>lizi024.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,576},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>touying.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{517,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,50}}</string>
                <key>sourceSize</key>
                <string>{517,50}</string>
            </dict>
            <key>zouguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,318},{256,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,100}}</string>
                <key>sourceSize</key>
                <string>{256,100}</string>
            </dict>
            <key>zouguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,553},{217,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,223}}</string>
                <key>sourceSize</key>
                <string>{217,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_roulette.png</string>
            <key>size</key>
            <string>{1011,829}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f92674a44a0e13a4112836aedf36a2:1/1$</string>
            <key>textureFileName</key>
            <string>hall_roulette.png</string>
        </dict>
    </dict>
</plist>
