<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,744},{138,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{138,140}</string>
            </dict>
            <key>1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,286},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,572},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,280},{139,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,138}}</string>
                <key>sourceSize</key>
                <string>{139,138}</string>
            </dict>
            <key>1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,840},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,851},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,700},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,700},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,712},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,421},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,560},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,420},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,280},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,560},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,420},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,293},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,886},{136,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,138}}</string>
                <key>sourceSize</key>
                <string>{136,138}</string>
            </dict>
            <key>1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,700},{129,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,138}}</string>
                <key>sourceSize</key>
                <string>{129,138}</string>
            </dict>
            <key>1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,560},{129,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,138}}</string>
                <key>sourceSize</key>
                <string>{129,138}</string>
            </dict>
            <key>1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,840},{116,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,138}}</string>
                <key>sourceSize</key>
                <string>{116,138}</string>
            </dict>
            <key>1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,892},{96,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,138}}</string>
                <key>sourceSize</key>
                <string>{96,138}</string>
            </dict>
            <key>1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,146},{69,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,138}}</string>
                <key>sourceSize</key>
                <string>{69,138}</string>
            </dict>
            <key>1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,278},{40,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,138}}</string>
                <key>sourceSize</key>
                <string>{40,138}</string>
            </dict>
            <key>1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,991},{25,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,147}}</string>
                <key>sourceSize</key>
                <string>{25,147}</string>
            </dict>
            <key>1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{29,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,147}}</string>
                <key>sourceSize</key>
                <string>{29,147}</string>
            </dict>
            <key>1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,840},{50,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,142}}</string>
                <key>sourceSize</key>
                <string>{50,142}</string>
            </dict>
            <key>1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{78,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,142}}</string>
                <key>sourceSize</key>
                <string>{78,142}</string>
            </dict>
            <key>1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,287},{93,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,141}}</string>
                <key>sourceSize</key>
                <string>{93,141}</string>
            </dict>
            <key>1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,430},{123,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,140}}</string>
                <key>sourceSize</key>
                <string>{123,140}</string>
            </dict>
            <key>1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,593},{149,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,140}}</string>
                <key>sourceSize</key>
                <string>{149,140}</string>
            </dict>
            <key>1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,432},{159,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,139}}</string>
                <key>sourceSize</key>
                <string>{159,139}</string>
            </dict>
            <key>1_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,146},{174,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,139}}</string>
                <key>sourceSize</key>
                <string>{174,139}</string>
            </dict>
            <key>1_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,141},{181,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,137}}</string>
                <key>sourceSize</key>
                <string>{181,137}</string>
            </dict>
            <key>1_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{182,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,137}}</string>
                <key>sourceSize</key>
                <string>{182,137}</string>
            </dict>
            <key>1_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,140},{183,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,136}}</string>
                <key>sourceSize</key>
                <string>{183,136}</string>
            </dict>
            <key>1_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{183,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,136}}</string>
                <key>sourceSize</key>
                <string>{183,136}</string>
            </dict>
            <key>1_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{183,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,136}}</string>
                <key>sourceSize</key>
                <string>{183,136}</string>
            </dict>
            <key>1_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{183,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,136}}</string>
                <key>sourceSize</key>
                <string>{183,136}</string>
            </dict>
            <key>1_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{183,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,136}}</string>
                <key>sourceSize</key>
                <string>{183,136}</string>
            </dict>
            <key>1_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{183,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,136}}</string>
                <key>sourceSize</key>
                <string>{183,136}</string>
            </dict>
            <key>1_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{184,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,137}}</string>
                <key>sourceSize</key>
                <string>{184,137}</string>
            </dict>
            <key>1_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>1_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{206,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,143}}</string>
                <key>sourceSize</key>
                <string>{206,143}</string>
            </dict>
            <key>1_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,144}}</string>
                <key>sourceSize</key>
                <string>{216,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_vi1.png</string>
            <key>size</key>
            <string>{882,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2028ba5a345ad74897c2f324b4064870:1/1$</string>
            <key>textureFileName</key>
            <string>hall_vi1.png</string>
        </dict>
    </dict>
</plist>
