<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>General_btu_close02.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,733},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>General_btu_tabs01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,712},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>General_btu_tabs01_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,428},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>General_floor_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,716},{82,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,64}}</string>
                <key>sourceSize</key>
                <string>{82,64}</string>
            </dict>
            <key>General_icon_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,535},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>General_mark_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,428},{145,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,99}}</string>
                <key>sourceSize</key>
                <string>{145,99}</string>
            </dict>
            <key>General_pop_bottom_zhijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,428},{102,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,66}}</string>
                <key>sourceSize</key>
                <string>{102,66}</string>
            </dict>
            <key>General_pop_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{424,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,330}}</string>
                <key>sourceSize</key>
                <string>{424,330}</string>
            </dict>
            <key>YQ_btn_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,535},{168,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,65}}</string>
                <key>sourceSize</key>
                <string>{168,65}</string>
            </dict>
            <key>YQ_btn_pyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,535},{168,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,65}}</string>
                <key>sourceSize</key>
                <string>{168,65}</string>
            </dict>
            <key>YQ_tabs_word_wdtjr_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,180},{176,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,35}}</string>
                <key>sourceSize</key>
                <string>{176,35}</string>
            </dict>
            <key>YQ_tabs_word_wdtjr_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,535},{175,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,34}}</string>
                <key>sourceSize</key>
                <string>{175,34}</string>
            </dict>
            <key>YQ_tabs_word_wtjdr_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{176,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,35}}</string>
                <key>sourceSize</key>
                <string>{176,35}</string>
            </dict>
            <key>YQ_tabs_word_wtjdr_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,358},{175,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,34}}</string>
                <key>sourceSize</key>
                <string>{175,34}</string>
            </dict>
            <key>YQ_title_word_yqyl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{796,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{796,74}}</string>
                <key>sourceSize</key>
                <string>{796,74}</string>
            </dict>
            <key>YQ_word_bdlxr.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,535},{179,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,31}}</string>
                <key>sourceSize</key>
                <string>{179,31}</string>
            </dict>
            <key>YQ_word_ljhzfk.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,535},{172,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,27}}</string>
                <key>sourceSize</key>
                <string>{172,27}</string>
            </dict>
            <key>_General_btu_66x69_flat_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,665},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>_General_btu_66x69_flat_blue02_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,665},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>_General_btu_66x69_flat_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,705},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_invite.png</string>
            <key>size</key>
            <string>{453,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac69cddd5574675fd36068f3deb6971e:1/1$</string>
            <key>textureFileName</key>
            <string>hall_invite.png</string>
        </dict>
    </dict>
</plist>
