<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_fivestar_btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,159},{155,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,25}}</string>
                <key>sourceSize</key>
                <string>{155,25}</string>
            </dict>
            <key>hall_fivestar_btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{155,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,25}}</string>
                <key>sourceSize</key>
                <string>{155,25}</string>
            </dict>
            <key>hall_fivestar_leftdizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,297}}</string>
                <key>sourceSize</key>
                <string>{436,297}</string>
            </dict>
            <key>hall_fivestar_topstar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{389,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,97}}</string>
                <key>sourceSize</key>
                <string>{389,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_fivestar.png</string>
            <key>size</key>
            <string>{467,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d9c7432bca52e720dc0f94e71c82b0f:1/1$</string>
            <key>textureFileName</key>
            <string>hall_fivestar.png</string>
        </dict>
    </dict>
</plist>
