<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_icon_mj_main_dice_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>hall_icon_mj_main_dice_fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,123}}</string>
                <key>sourceSize</key>
                <string>{108,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_icon_mj.png</string>
            <key>size</key>
            <string>{191,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d92eebc5b2f89e08ed3d6cd11f251320:1/1$</string>
            <key>textureFileName</key>
            <string>hall_icon_mj.png</string>
        </dict>
    </dict>
</plist>
