<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>begin_game_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,255},{451,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,128}}</string>
                <key>sourceSize</key>
                <string>{451,128}</string>
            </dict>
            <key>begin_game_shadow_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1012,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1012,251}}</string>
                <key>sourceSize</key>
                <string>{1012,251}</string>
            </dict>
            <key>begin_game_shadow_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,610},{475,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,19}}</string>
                <key>sourceSize</key>
                <string>{475,19}</string>
            </dict>
            <key>hall_vi_0002_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,499},{458,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,109}}</string>
                <key>sourceSize</key>
                <string>{458,109}</string>
            </dict>
            <key>hall_vi_0003_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,385},{387,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,112}}</string>
                <key>sourceSize</key>
                <string>{387,112}</string>
            </dict>
            <key>hall_vi_0003_6_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{417,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,108}}</string>
                <key>sourceSize</key>
                <string>{417,108}</string>
            </dict>
            <key>hall_vi_0004_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{495,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,346}}</string>
                <key>sourceSize</key>
                <string>{495,346}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_vi2.png</string>
            <key>size</key>
            <string>{1016,713}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64f1b4e00fda3c5f932a499d136c8318:1/1$</string>
            <key>textureFileName</key>
            <string>hall_vi2.png</string>
        </dict>
    </dict>
</plist>
