<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_coinlack_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{700,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,480}}</string>
                <key>sourceSize</key>
                <string>{700,480}</string>
            </dict>
            <key>hall_coinlack_button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,224},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hall_coinlack_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{220,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,150}}</string>
                <key>sourceSize</key>
                <string>{220,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_coinlack.png</string>
            <key>size</key>
            <string>{856,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:377b22b66e07866e2280c58350170aff:1/1$</string>
            <key>textureFileName</key>
            <string>hall_coinlack.png</string>
        </dict>
    </dict>
</plist>
