<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>General_icon_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,8},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_common_05_yueguangzhiyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hall_common_bg_headbig.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,8},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>hall_common_great_master_person_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,145},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>hall_common_head_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,170},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hall_common_head_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,170},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hall_common_icon_newquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,138},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hall_common_icondiamonds_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,8},{135,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,104}}</string>
                <key>sourceSize</key>
                <string>{135,104}</string>
            </dict>
            <key>hall_common_loader_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,190},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>hall_common_loader_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,138},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hall_common_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,187},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>hall_common_pencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,187},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>hall_common_split_frame_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{836,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{836,4}}</string>
                <key>sourceSize</key>
                <string>{836,4}</string>
            </dict>
            <key>hall_common_star_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,187},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>hall_common_yellow_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,145},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>special_pop_window_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>start_money_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,164},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>start_money_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,130},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>start_money_bg_rotation.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,8},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>start_money_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,8},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>start_money_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_common.png</string>
            <key>size</key>
            <string>{982,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a66bf80b26cd9856a181b06f226ed48a:1/1$</string>
            <key>textureFileName</key>
            <string>hall_common.png</string>
        </dict>
    </dict>
</plist>
