<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_pack39_btn_add_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,597},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>hall_pack39_btn_add_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,541},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>hall_pack39_btn_big_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,455},{216,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,84}}</string>
                <key>sourceSize</key>
                <string>{216,84}</string>
            </dict>
            <key>hall_pack39_btn_big_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,234},{216,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,84}}</string>
                <key>sourceSize</key>
                <string>{216,84}</string>
            </dict>
            <key>hall_pack39_btn_mid_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,700},{144,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,50}}</string>
                <key>sourceSize</key>
                <string>{144,50}</string>
            </dict>
            <key>hall_pack39_btn_mid_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,700},{144,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,50}}</string>
                <key>sourceSize</key>
                <string>{144,50}</string>
            </dict>
            <key>hall_pack39_btn_sub_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,509},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>hall_pack39_btn_sub_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,509},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>hall_pack39_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,455},{90,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,52}}</string>
                <key>sourceSize</key>
                <string>{90,52}</string>
            </dict>
            <key>hall_pack39_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,234},{178,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,219}}</string>
                <key>sourceSize</key>
                <string>{178,219}</string>
            </dict>
            <key>hall_pack39_item_center_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,455},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>hall_pack39_item_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,878},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>hall_pack39_item_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,541},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hall_pack39_item_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,878},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>hall_pack39_mask_best.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,234},{178,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,226}}</string>
                <key>sourceSize</key>
                <string>{178,226}</string>
            </dict>
            <key>hall_pack39_pop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{540,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,378}}</string>
                <key>sourceSize</key>
                <string>{540,378}</string>
            </dict>
            <key>hall_pack39_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,878},{144,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,40}}</string>
                <key>sourceSize</key>
                <string>{144,40}</string>
            </dict>
            <key>hall_pack39_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,234},{340,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,100}}</string>
                <key>sourceSize</key>
                <string>{340,100}</string>
            </dict>
            <key>hall_ui39_getRewards_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,230}}</string>
                <key>sourceSize</key>
                <string>{1000,230}</string>
            </dict>
            <key>hall_ui39_getRewards_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,452},{246,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,66}}</string>
                <key>sourceSize</key>
                <string>{246,66}</string>
            </dict>
            <key>hall_ui39_pack_no_item_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,576},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hall_ui39_pack_record_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{887,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{887,30}}</string>
                <key>sourceSize</key>
                <string>{887,30}</string>
            </dict>
            <key>hall_ui_39_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{695,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{695,143}}</string>
                <key>sourceSize</key>
                <string>{695,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_ui_39_1.png</string>
            <key>size</key>
            <string>{1004,953}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:289ad025508a3ce045341cad22ec3bf6:1/1$</string>
            <key>textureFileName</key>
            <string>hall_ui_39_1.png</string>
        </dict>
    </dict>
</plist>
