<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_setting_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{406,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,2}}</string>
                <key>sourceSize</key>
                <string>{406,2}</string>
            </dict>
            <key>hall_setting_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,272},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>hall_setting_off_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,104},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>hall_setting_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,206},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>hall_setting_on_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>hall_setting_version_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{555,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,270}}</string>
                <key>sourceSize</key>
                <string>{555,270}</string>
            </dict>
            <key>hall_setting_version_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{557,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,46}}</string>
                <key>sourceSize</key>
                <string>{557,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_setting.png</string>
            <key>size</key>
            <string>{378,561}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f9287d04bbedd14f226b4696c4cac24:1/1$</string>
            <key>textureFileName</key>
            <string>hall_setting.png</string>
        </dict>
    </dict>
</plist>
