<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{1136,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,112}}</string>
                <key>sourceSize</key>
                <string>{1136,112}</string>
            </dict>
            <key>hall_top_bg_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1476},{268,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,54}}</string>
                <key>sourceSize</key>
                <string>{268,54}</string>
            </dict>
            <key>hall_top_btn_add_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1594},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hall_top_btn_add_coupon.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1594},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hall_top_btn_add_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1532},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hall_top_btn_assistance_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1602},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>sourceSize</key>
                <string>{120,68}</string>
            </dict>
            <key>hall_top_btn_assistance_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1602},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>sourceSize</key>
                <string>{120,68}</string>
            </dict>
            <key>hall_top_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1532},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>hall_top_btn_coupon_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1532},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>hall_top_hall_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{1136,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,112}}</string>
                <key>sourceSize</key>
                <string>{1136,112}</string>
            </dict>
            <key>hall_top_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,120}}</string>
                <key>sourceSize</key>
                <string>{1136,120}</string>
            </dict>
            <key>hall_top_shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{1136,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,94}}</string>
                <key>sourceSize</key>
                <string>{1136,94}</string>
            </dict>
            <key>hall_top_shop_bg_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1140},{251,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,48}}</string>
                <key>sourceSize</key>
                <string>{251,48}</string>
            </dict>
            <key>hall_top_shop_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1532},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>hall_top_title_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{510,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,100}}</string>
                <key>sourceSize</key>
                <string>{510,100}</string>
            </dict>
            <key>hall_top_title_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1420},{298,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,54}}</string>
                <key>sourceSize</key>
                <string>{298,54}</string>
            </dict>
            <key>hall_top_title_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1350},{290,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,68}}</string>
                <key>sourceSize</key>
                <string>{290,68}</string>
            </dict>
            <key>hall_top_title_pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1280},{290,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,68}}</string>
                <key>sourceSize</key>
                <string>{290,68}</string>
            </dict>
            <key>hall_top_title_promote.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1210},{290,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,68}}</string>
                <key>sourceSize</key>
                <string>{290,68}</string>
            </dict>
            <key>hall_top_title_userinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1140},{290,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,68}}</string>
                <key>sourceSize</key>
                <string>{290,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_top.png</string>
            <key>size</key>
            <string>{448,1672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfb2672cd17861a3d916c173a644bf9c:1/1$</string>
            <key>textureFileName</key>
            <string>hall_top.png</string>
        </dict>
    </dict>
</plist>
