<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_hall_mj_btn_csmj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_csmj_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_mj_btn_csmj_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1618},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_gyzj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_gyzj_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_mj_btn_gyzj_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_hzmj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_hzmj_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_mj_btn_hzmj_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_jrpz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1416},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_jrpz_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_mj_btn_jrpz_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_ncmj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_ncmj_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_mj_btn_ncmj_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1214},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_poyang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_poyang_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_mj_btn_poyang_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_scmj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_scmj_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_mj_btn_scmj_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1012},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_srgb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_srgb_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_mj_btn_srgb_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_two_people_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_two_people_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_mj_btn_two_people_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,810},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_zzmj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_mj_btn_zzmj_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_mj_btn_zzmj_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_cdphz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_cdphz_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_phz_btn_cdphz_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,608},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_czzp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_czzp_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_phz_btn_czzp_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_hhhgw_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_hhhgw_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_phz_btn_hhhgw_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,406},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_hj_paohuzi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_hj_paohuzi_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1618},{36,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,69}}</string>
                <key>sourceSize</key>
                <string>{36,69}</string>
            </dict>
            <key>hall_hall_phz_btn_hj_paohuzi_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_ldfph_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_ldfph_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_phz_btn_ldfph_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,204},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_lhq_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_lhq_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_phz_btn_lhq_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_syzp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_syzp_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_phz_btn_syzp_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_xxghz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1840},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>hall_hall_phz_btn_xxghz_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1689},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hall_hall_phz_btn_xxghz_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_hall_mj.png</string>
            <key>size</key>
            <string>{446,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c02e789596e9a0f78bb48020fe3bb6e8:1/1$</string>
            <key>textureFileName</key>
            <string>hall_hall_mj.png</string>
        </dict>
    </dict>
</plist>
