<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_checkin_allCheckin.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,210},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>hall_checkin_get_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,210},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>hall_checkin_gray_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,261},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>hall_checkin_new_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,353},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>hall_checkin_new_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,353},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>hall_checkin_new_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,362},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>hall_checkin_new_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,362},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>hall_checkin_new_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,322},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>hall_checkin_new_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,322},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>hall_checkin_new_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,313},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>hall_checkin_new_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,313},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>hall_checkin_new_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,282},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>hall_checkin_new_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,282},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>hall_checkin_new_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,316},{215,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,74}}</string>
                <key>sourceSize</key>
                <string>{215,74}</string>
            </dict>
            <key>hall_checkin_new_btn_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,142},{112,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,65}}</string>
                <key>sourceSize</key>
                <string>{112,65}</string>
            </dict>
            <key>hall_checkin_new_calendar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{908,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{908,138}}</string>
                <key>sourceSize</key>
                <string>{908,138}</string>
            </dict>
            <key>hall_checkin_new_green_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,209},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>hall_checkin_new_lau.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,210},{186,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,104}}</string>
                <key>sourceSize</key>
                <string>{186,104}</string>
            </dict>
            <key>hall_checkin_new_noCheckin.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,342},{216,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,84}}</string>
                <key>sourceSize</key>
                <string>{216,84}</string>
            </dict>
            <key>hall_checkin_new_now_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,392},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>hall_checkin_new_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{788,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,32}}</string>
                <key>sourceSize</key>
                <string>{788,32}</string>
            </dict>
            <key>hall_checkin_new_process_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{788,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,32}}</string>
                <key>sourceSize</key>
                <string>{788,32}</string>
            </dict>
            <key>hall_checkin_new_reward_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hall_checkin_new_specail_gray_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,362},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>hall_checkin_new_specail_green_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,362},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>hall_checkin_new_specail_yellow_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,362},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>hall_checkin_new_yellow_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>hall_checkin_new_yq01.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,322},{153,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,106}}</string>
                <key>sourceSize</key>
                <string>{153,106}</string>
            </dict>
            <key>hall_checkin_new_yq02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,210},{231,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,110}}</string>
                <key>sourceSize</key>
                <string>{231,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_checkin_new.png</string>
            <key>size</key>
            <string>{912,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:351d10973c670c877e695db855699938:1/1$</string>
            <key>textureFileName</key>
            <string>hall_checkin_new.png</string>
        </dict>
    </dict>
</plist>
