<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_vip_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,662},{88,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,140}}</string>
                <key>sourceSize</key>
                <string>{88,140}</string>
            </dict>
            <key>hall_vip_btn_get_gift_hightlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,878},{164,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,56}}</string>
                <key>sourceSize</key>
                <string>{164,56}</string>
            </dict>
            <key>hall_vip_btn_get_gift_unusing.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,662},{164,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,56}}</string>
                <key>sourceSize</key>
                <string>{164,56}</string>
            </dict>
            <key>hall_vip_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,956},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hall_vip_con.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{250,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,60}}</string>
                <key>sourceSize</key>
                <string>{250,60}</string>
            </dict>
            <key>hall_vip_desc.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,804},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>hall_vip_desc_alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{702,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,22}}</string>
                <key>sourceSize</key>
                <string>{702,22}</string>
            </dict>
            <key>hall_vip_desc_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,956},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>hall_vip_level_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,906},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hall_vip_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,828},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hall_vip_level_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,983},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>hall_vip_level_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,983},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>hall_vip_level_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,602},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>hall_vip_level_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,984},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>hall_vip_level_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,984},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>hall_vip_level_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,984},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>hall_vip_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,828},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hall_vip_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,982},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hall_vip_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,958},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hall_vip_level_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,982},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hall_vip_level_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,983},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hall_vip_level_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,958},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hall_vip_level_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,804},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hall_vip_level_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hall_vip_level_img_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,408},{380,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,184}}</string>
                <key>sourceSize</key>
                <string>{380,184}</string>
            </dict>
            <key>hall_vip_level_img_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{380,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,184}}</string>
                <key>sourceSize</key>
                <string>{380,184}</string>
            </dict>
            <key>hall_vip_level_img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{380,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,184}}</string>
                <key>sourceSize</key>
                <string>{380,184}</string>
            </dict>
            <key>hall_vip_level_img_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,26},{380,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,184}}</string>
                <key>sourceSize</key>
                <string>{380,184}</string>
            </dict>
            <key>hall_vip_level_img_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,26},{380,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,184}}</string>
                <key>sourceSize</key>
                <string>{380,184}</string>
            </dict>
            <key>hall_vip_level_img_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{380,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,184}}</string>
                <key>sourceSize</key>
                <string>{380,184}</string>
            </dict>
            <key>hall_vip_level_img_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{380,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,184}}</string>
                <key>sourceSize</key>
                <string>{380,184}</string>
            </dict>
            <key>hall_vip_level_img_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{380,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,184}}</string>
                <key>sourceSize</key>
                <string>{380,184}</string>
            </dict>
            <key>hall_vip_no_achieved.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,906},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>hall_vip_pay_moeny_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,790},{184,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,86}}</string>
                <key>sourceSize</key>
                <string>{184,86}</string>
            </dict>
            <key>hall_vip_pay_money_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,854},{104,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,50}}</string>
                <key>sourceSize</key>
                <string>{104,50}</string>
            </dict>
            <key>hall_vip_progress_beginAndEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,833},{18,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,36}}</string>
                <key>sourceSize</key>
                <string>{18,36}</string>
            </dict>
            <key>hall_vip_progress_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,408},{423,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,36}}</string>
                <key>sourceSize</key>
                <string>{423,36}</string>
            </dict>
            <key>vip_help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,408},{252,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,108}}</string>
                <key>sourceSize</key>
                <string>{252,108}</string>
            </dict>
            <key>vip_help_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,906},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>vip_help_get_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,936},{116,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>vip_help_no_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,936},{116,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,45}}</string>
                <key>sourceSize</key>
                <string>{116,45}</string>
            </dict>
            <key>vip_help_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,408},{116,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,36}}</string>
                <key>sourceSize</key>
                <string>{116,36}</string>
            </dict>
            <key>viplevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,526},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_vip.png</string>
            <key>size</key>
            <string>{756,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcfe0f94ec8842f99d203b33d3b816e4:1/1$</string>
            <key>textureFileName</key>
            <string>hall_vip.png</string>
        </dict>
    </dict>
</plist>
