<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_download_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>hall_download_loading_loop.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hall_download_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hall_download_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hall_download_progress_ft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_download.png</string>
            <key>size</key>
            <string>{506,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3d21487beeec99aedd0120bdd172154:1/1$</string>
            <key>textureFileName</key>
            <string>hall_download.png</string>
        </dict>
    </dict>
</plist>
