<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_loading_firstpate_bnt_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{302,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,122}}</string>
                <key>sourceSize</key>
                <string>{302,122}</string>
            </dict>
            <key>hall_loading_firstpate_text_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,126},{194,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,50}}</string>
                <key>sourceSize</key>
                <string>{194,50}</string>
            </dict>
            <key>hall_loading_firstpate_text_olduser.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,126},{194,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,50}}</string>
                <key>sourceSize</key>
                <string>{194,50}</string>
            </dict>
            <key>hall_loading_firstpate_text_single.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,126},{194,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,50}}</string>
                <key>sourceSize</key>
                <string>{194,50}</string>
            </dict>
            <key>hall_loading_firstpate_text_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,126},{194,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,50}}</string>
                <key>sourceSize</key>
                <string>{194,50}</string>
            </dict>
            <key>hall_loading_loading_bottton.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,322},{569,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,65}}</string>
                <key>sourceSize</key>
                <string>{569,65}</string>
            </dict>
            <key>hall_loading_loading_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,457}}</string>
                <key>sourceSize</key>
                <string>{420,457}</string>
            </dict>
            <key>hall_loading_loading_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,437},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hall_loading_seat_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,413},{680,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,22}}</string>
                <key>sourceSize</key>
                <string>{680,22}</string>
            </dict>
            <key>hall_loading_seat_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,389},{680,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,22}}</string>
                <key>sourceSize</key>
                <string>{680,22}</string>
            </dict>
            <key>hall_loading_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,437},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hall_loading_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,437},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hall_loading_tuyoo_author.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{374,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,41}}</string>
                <key>sourceSize</key>
                <string>{374,41}</string>
            </dict>
            <key>hall_loading_tuyoo_author_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,322},{160,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,41}}</string>
                <key>sourceSize</key>
                <string>{160,41}</string>
            </dict>
            <key>hall_loading_update_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{418,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,318}}</string>
                <key>sourceSize</key>
                <string>{418,318}</string>
            </dict>
            <key>hall_loading_update_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,437},{400,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,60}}</string>
                <key>sourceSize</key>
                <string>{400,60}</string>
            </dict>
            <key>hall_loading_update_btn_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,126},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>hall_loading_update_btn_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,437},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>hall_loading_update_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,322},{3,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,47}}</string>
                <key>sourceSize</key>
                <string>{3,47}</string>
            </dict>
            <key>hall_loading_update_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,126},{145,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,38}}</string>
                <key>sourceSize</key>
                <string>{145,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_loading.png</string>
            <key>size</key>
            <string>{1154,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e94fb36fc76e611694482f365003d847:1/1$</string>
            <key>textureFileName</key>
            <string>hall_loading.png</string>
        </dict>
    </dict>
</plist>
