<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_act_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,556}}</string>
                <key>sourceSize</key>
                <string>{960,556}</string>
            </dict>
            <key>hall_act_button_down_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,722},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_act_button_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,722},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>hall_act_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,722},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>hall_act_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{354,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,251}}</string>
                <key>sourceSize</key>
                <string>{354,251}</string>
            </dict>
            <key>hall_act_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,722},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>hall_act_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,560},{630,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,160}}</string>
                <key>sourceSize</key>
                <string>{630,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_activity.png</string>
            <key>size</key>
            <string>{990,814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f630868d3027e4939afb16d6f98d3f53:1/1$</string>
            <key>textureFileName</key>
            <string>hall_activity.png</string>
        </dict>
    </dict>
</plist>
