<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,184}}</string>
                <key>sourceSize</key>
                <string>{460,184}</string>
            </dict>
            <key>chat_emo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,188},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>chat_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{204,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,58}}</string>
                <key>sourceSize</key>
                <string>{204,58}</string>
            </dict>
            <key>chat_word_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{308,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,78}}</string>
                <key>sourceSize</key>
                <string>{308,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b48cf9c51ee0a3672e9357165f797c1:1/1$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
