<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>06TS_pop_title_word_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,916},{76,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,36}}</string>
                <key>sourceSize</key>
                <string>{76,36}</string>
            </dict>
            <key>General_btu_182x70_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,815},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>General_btu_182x70_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,743},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>General_btu_182x70_pattern_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,671},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>General_btu_182x70_pattern_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,515},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>General_btu_182x70_pattern_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,443},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>General_btu_48x48_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,886},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>General_btu_66x69_flat_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,819},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>General_btu_close01.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,171},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>General_btu_close02.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,585},{53,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,57}}</string>
                <key>sourceSize</key>
                <string>{53,57}</string>
            </dict>
            <key>General_btu_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,887},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>General_btu_gradual_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,890},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
            <key>General_btu_popup_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,233},{53,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,57}}</string>
                <key>sourceSize</key>
                <string>{53,57}</string>
            </dict>
            <key>General_btu_popup_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,880},{90,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,72}}</string>
                <key>sourceSize</key>
                <string>{90,72}</string>
            </dict>
            <key>General_btu_popup_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,740},{90,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,72}}</string>
                <key>sourceSize</key>
                <string>{90,72}</string>
            </dict>
            <key>General_btu_popupleft_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,954},{130,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>General_btu_popupleft_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,887},{130,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>General_btu_popupmiddle_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,943},{130,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>General_btu_popupmiddle_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,881},{130,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>General_btu_tabs01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,814},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>General_btu_tabs01_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,69},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>General_icon_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,666},{99,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,72}}</string>
                <key>sourceSize</key>
                <string>{99,72}</string>
            </dict>
            <key>General_system_icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,946},{68,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,44}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>General_system_icon_back_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,363},{112,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>General_tips_bubble01_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,587},{33,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>Paizhuo_zjz_mark_lx.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,537},{78,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,46}}</string>
                <key>sourceSize</key>
                <string>{78,46}</string>
            </dict>
            <key>Zmwf_general_js_list_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{953,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{953,50}}</string>
                <key>sourceSize</key>
                <string>{953,50}</string>
            </dict>
            <key>Zmwf_general_js_mark_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,961},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>Zmwf_general_mark_bawangjing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,295},{109,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,46}}</string>
                <key>sourceSize</key>
                <string>{109,46}</string>
            </dict>
            <key>Zmwf_general_mark_bawangjing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,172},{43,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,121}}</string>
                <key>sourceSize</key>
                <string>{43,121}</string>
            </dict>
            <key>Zmwf_general_mark_chongguan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,772},{74,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,45}}</string>
                <key>sourceSize</key>
                <string>{74,45}</string>
            </dict>
            <key>Zmwf_general_mark_chongguan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,814},{39,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,78}}</string>
                <key>sourceSize</key>
                <string>{39,78}</string>
            </dict>
            <key>Zmwf_gyzj_js_tx_pai.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,751},{96,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,127}}</string>
                <key>sourceSize</key>
                <string>{96,127}</string>
            </dict>
            <key>Zmwf_ncmj_mark_fujing.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,954},{72,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,39}}</string>
                <key>sourceSize</key>
                <string>{72,39}</string>
            </dict>
            <key>Zmwf_ncmj_mark_zhengjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,954},{72,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,39}}</string>
                <key>sourceSize</key>
                <string>{72,39}</string>
            </dict>
            <key>Zmwf_ncmj_zm_tx_jingdiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,445},{140,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,71}}</string>
                <key>sourceSize</key>
                <string>{140,71}</string>
            </dict>
            <key>Zmwf_tx_general_word_chaozhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,58},{240,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,133}}</string>
                <key>sourceSize</key>
                <string>{240,133}</string>
            </dict>
            <key>Zmwf_tx_general_word_maidilei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{359,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,130}}</string>
                <key>sourceSize</key>
                <string>{359,130}</string>
            </dict>
            <key>Zmwf_tx_general_word_tongyishouge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{437,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,133}}</string>
                <key>sourceSize</key>
                <string>{437,133}</string>
            </dict>
            <key>Zmwf_tx_ncmj_word_htyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{429,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,134}}</string>
                <key>sourceSize</key>
                <string>{429,134}</string>
            </dict>
            <key>Zmwf_tx_ncmj_word_shangjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{210,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,117}}</string>
                <key>sourceSize</key>
                <string>{210,117}</string>
            </dict>
            <key>Zmwf_tx_ncmj_word_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{210,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,117}}</string>
                <key>sourceSize</key>
                <string>{210,117}</string>
            </dict>
            <key>Zmwf_tx_ncmj_word_xiajing.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,172},{215,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,117}}</string>
                <key>sourceSize</key>
                <string>{215,117}</string>
            </dict>
            <key>Zmwf_tx_ncmj_word_xj.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,172},{215,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,117}}</string>
                <key>sourceSize</key>
                <string>{215,117}</string>
            </dict>
            <key>Zmwf_zm_general_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,54},{266,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,116}}</string>
                <key>sourceSize</key>
                <string>{266,116}</string>
            </dict>
            <key>Zmwf_zm_general_btn_word_jingdiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,589},{141,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,75}}</string>
                <key>sourceSize</key>
                <string>{141,75}</string>
            </dict>
            <key>_General_btu_66x65_bulge_white_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,894},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>_General_btu_66x65_bulge_white_disable_word_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,988},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>_General_btu_66x65_bulge_white_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,885},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>_General_btu_66x65_bulge_white_normal_word_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,329},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>_General_btu_66x69_flat_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,819},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>_General_btu_66x69_flat_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,814},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>_General_btu_66x69_flat_blue02_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,815},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>_General_btu_66x69_flat_blue02_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,589},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>_General_btu_66x69_flat_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,949},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>_General_btu_66x69_flat_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,819},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,949},{122,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,62}}</string>
                <key>sourceSize</key>
                <string>{122,62}</string>
            </dict>
            <key>back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,587},{142,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,82}}</string>
                <key>sourceSize</key>
                <string>{142,82}</string>
            </dict>
            <key>blue_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,815},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>bn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,371},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>boy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,772},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>common_blue_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,518},{167,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,69}}</string>
                <key>sourceSize</key>
                <string>{167,69}</string>
            </dict>
            <key>common_red_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,743},{167,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,69}}</string>
                <key>sourceSize</key>
                <string>{167,69}</string>
            </dict>
            <key>girl_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,890},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>gray_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,291},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>hall_download_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,666},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>hall_download_loading_loop.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,343},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hall_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{187,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,94}}</string>
                <key>sourceSize</key>
                <string>{187,94}</string>
            </dict>
            <key>hall_top_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,421},{239,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,46}}</string>
                <key>sourceSize</key>
                <string>{239,46}</string>
            </dict>
            <key>head_coffee.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,751},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,593},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>head_piano.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,613},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>head_sea.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,613},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,747},{248,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,2}}</string>
                <key>sourceSize</key>
                <string>{248,2}</string>
            </dict>
            <key>loading_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>mj_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,291},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>msg_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,309},{294,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,56}}</string>
                <key>sourceSize</key>
                <string>{294,56}</string>
            </dict>
            <key>popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>red_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,585},{53,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,57}}</string>
                <key>sourceSize</key>
                <string>{53,57}</string>
            </dict>
            <key>red_cross_no_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,952},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>separator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{644,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,2}}</string>
                <key>sourceSize</key>
                <string>{644,2}</string>
            </dict>
            <key>separator2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,743},{248,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,2}}</string>
                <key>sourceSize</key>
                <string>{248,2}</string>
            </dict>
            <key>separator3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,367},{428,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,2}}</string>
                <key>sourceSize</key>
                <string>{428,2}</string>
            </dict>
            <key>smallboxclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,445},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,469},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,961},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>tab_bn.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,541},{210,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>tab_bn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,469},{210,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>text_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,371},{253,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,48}}</string>
                <key>sourceSize</key>
                <string>{253,48}</string>
            </dict>
            <key>ting_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,193},{264,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,114}}</string>
                <key>sourceSize</key>
                <string>{264,114}</string>
            </dict>
            <key>zmwf_tx_ncmj_word_fandilei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4af748240a10a6d7e8b545925baaaeb6:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
