<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZM_pai_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,835},{80,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,111}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
            <key>Zm_js_btn_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{218,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,68}}</string>
                <key>sourceSize</key>
                <string>{218,68}</string>
            </dict>
            <key>Zm_js_btn_jxyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{218,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,68}}</string>
                <key>sourceSize</key>
                <string>{218,68}</string>
            </dict>
            <key>Zm_poyang_mark_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,835},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Zmwf_general_js_mode_buqiuren.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,270},{116,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{116,42}}</string>
                <key>sourceSize</key>
                <string>{116,48}</string>
            </dict>
            <key>Zmwf_general_js_mode_haohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,917},{80,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{80,46}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>Zmwf_general_js_mode_haohua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,156},{112,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,46}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>Zmwf_general_js_mode_haohua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,965},{112,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,46}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
            <key>Zmwf_zjs_floor02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{906,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{906,48}}</string>
                <key>sourceSize</key>
                <string>{906,48}</string>
            </dict>
            <key>Zmwf_zjs_floor_dayingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{230,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,442}}</string>
                <key>sourceSize</key>
                <string>{230,442}</string>
            </dict>
            <key>Zmwf_zjs_floor_lose01.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,338},{228,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,334}}</string>
                <key>sourceSize</key>
                <string>{228,334}</string>
            </dict>
            <key>Zmwf_zjs_floor_lose01_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,917},{224,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,2}}</string>
                <key>sourceSize</key>
                <string>{224,2}</string>
            </dict>
            <key>Zmwf_zjs_floor_win01.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{228,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,334}}</string>
                <key>sourceSize</key>
                <string>{228,334}</string>
            </dict>
            <key>Zmwf_zjs_floor_win01_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{224,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,2}}</string>
                <key>sourceSize</key>
                <string>{224,2}</string>
            </dict>
            <key>Zmwf_zjs_mark_dayingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,910},{88,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,104}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>Zmwf_zjs_title_sidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{599,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,79}}</string>
                <key>sourceSize</key>
                <string>{599,79}</string>
            </dict>
            <key>create_record_nextBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{152,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{152,56}}</string>
                <key>sourceSize</key>
                <string>{170,68}</string>
            </dict>
            <key>create_record_preBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,835},{152,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{152,56}}</string>
                <key>sourceSize</key>
                <string>{170,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>custom_room_zhuizhongjiesuan_001.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d425d14caf2c9aa92374bc348d3c8104:1/1$</string>
            <key>textureFileName</key>
            <string>custom_room_zhuizhongjiesuan_001.png</string>
        </dict>
    </dict>
</plist>
