<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exciting_activity_pop_bottom_yuantiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,123},{98,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,64}}</string>
                <key>sourceSize</key>
                <string>{102,66}</string>
            </dict>
            <key>exciting_activity_pop_btn_cphffk_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,299},{175,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,97}}</string>
                <key>sourceSize</key>
                <string>{175,97}</string>
            </dict>
            <key>exciting_activity_pop_btn_cphffk_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{175,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,89}}</string>
                <key>sourceSize</key>
                <string>{175,91}</string>
            </dict>
            <key>exciting_activity_pop_btn_mrlmrs_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,200},{175,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,97}}</string>
                <key>sourceSize</key>
                <string>{175,97}</string>
            </dict>
            <key>exciting_activity_pop_btn_mrlmrs_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,582},{175,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,89}}</string>
                <key>sourceSize</key>
                <string>{175,91}</string>
            </dict>
            <key>exciting_activity_pop_btn_nkfwfk_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,101},{175,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,97}}</string>
                <key>sourceSize</key>
                <string>{175,97}</string>
            </dict>
            <key>exciting_activity_pop_btn_nkfwfk_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,398},{175,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,91}}</string>
                <key>sourceSize</key>
                <string>{175,91}</string>
            </dict>
            <key>exciting_activity_pop_btn_nwyx_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{175,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,97}}</string>
                <key>sourceSize</key>
                <string>{175,97}</string>
            </dict>
            <key>exciting_activity_pop_btn_nwyx_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,491},{175,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,89}}</string>
                <key>sourceSize</key>
                <string>{175,91}</string>
            </dict>
            <key>exciting_activity_pop_event_title_sqskssj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{305,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,46}}</string>
                <key>sourceSize</key>
                <string>{305,46}</string>
            </dict>
            <key>exciting_activity_pop_floor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,223},{533,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,42}}</string>
                <key>sourceSize</key>
                <string>{533,42}</string>
            </dict>
            <key>exciting_activity_pop_floor02_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{124,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,156}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>exciting_activity_pop_floor02_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{124,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,156}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>exciting_activity_pop_floor02_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{124,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,156}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>exciting_activity_pop_floor03_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{124,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,156}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>exciting_activity_pop_floor03_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{124,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,156}}</string>
                <key>sourceSize</key>
                <string>{124,156}</string>
            </dict>
            <key>exciting_activity_pop_floor04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{241,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,71}}</string>
                <key>sourceSize</key>
                <string>{241,71}</string>
            </dict>
            <key>exciting_activity_pop_floor05_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,50},{532,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,51}}</string>
                <key>sourceSize</key>
                <string>{532,51}</string>
            </dict>
            <key>exciting_activity_pop_word_jryx.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,101},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>exciting_activity_pop_word_kfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,341},{87,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,29}}</string>
                <key>sourceSize</key>
                <string>{87,29}</string>
            </dict>
            <key>exciting_activity_pop_word_lxqt.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,223},{101,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,37}}</string>
                <key>sourceSize</key>
                <string>{101,37}</string>
            </dict>
            <key>exciting_activity_pop_word_yxb.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,430},{88,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{88,28}</string>
            </dict>
            <key>exciting_activity_pop_word_zrhj.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,222},{117,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,29}}</string>
                <key>sourceSize</key>
                <string>{117,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exciting_activity_001.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:793e29e8869049169475bf45d2187c04:1/1$</string>
            <key>textureFileName</key>
            <string>exciting_activity_001.png</string>
        </dict>
    </dict>
</plist>
