<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Zm_general_floor_colour.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Zm_tihuan_counters_floor01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,69},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>Zm_tihuan_counters_floor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{272,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,119}}</string>
                <key>sourceSize</key>
                <string>{272,119}</string>
            </dict>
            <key>Zm_tihuan_counters_word_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,84},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>Zm_tihuan_counters_word_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,69},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>Zm_tihuan_counters_word_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,69},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>Zm_tihuan_counters_word_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,107},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>btn_emo_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,271},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>btn_emo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,188},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>btn_emo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,175},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>btn_emo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,92},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>round.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{246,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,88}}</string>
                <key>sourceSize</key>
                <string>{246,88}</string>
            </dict>
            <key>ting_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{264,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,114}}</string>
                <key>sourceSize</key>
                <string>{264,114}</string>
            </dict>
            <key>txt_contest_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{426,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,65}}</string>
                <key>sourceSize</key>
                <string>{426,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_scene_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42a93d74100f23c3790fd11138e9ca42:1/1$</string>
            <key>textureFileName</key>
            <string>game_scene_1.png</string>
        </dict>
    </dict>
</plist>
