<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Zmwf_zm_general_btn_word_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,382},{61,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,57}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>action_anGang.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,726},{184,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,94}}</string>
                <key>sourceSize</key>
                <string>{184,94}</string>
            </dict>
            <key>action_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{272,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,189}}</string>
                <key>sourceSize</key>
                <string>{272,189}</string>
            </dict>
            <key>action_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,894},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>action_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,443},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>action_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,894},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>action_mingGang.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,457},{184,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,94}}</string>
                <key>sourceSize</key>
                <string>{184,94}</string>
            </dict>
            <key>action_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,588},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>action_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,704},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>baoding_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,588},{184,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,94}}</string>
                <key>sourceSize</key>
                <string>{184,94}</string>
            </dict>
            <key>biaogexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,684},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>biaogexian_contest.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,684},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>biaogexian_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,684},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>bn_add_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,624},{156,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,78}}</string>
                <key>sourceSize</key>
                <string>{156,78}</string>
            </dict>
            <key>bn_itr_emo0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,822},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>bn_itr_emo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,441},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>bn_itr_emo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,530},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>bn_itr_emo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,535},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>bn_itr_emo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,353},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>bn_itr_emo_bg_contest.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,301},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>bn_itr_emo_bg_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,249},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,779},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>chip_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,553},{165,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,33}}</string>
                <key>sourceSize</key>
                <string>{165,33}</string>
            </dict>
            <key>dizhu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,684},{84,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,33}}</string>
                <key>sourceSize</key>
                <string>{84,33}</string>
            </dict>
            <key>gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,942},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>hu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,268},{262,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,112}}</string>
                <key>sourceSize</key>
                <string>{262,112}</string>
            </dict>
            <key>hu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,952},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ico_meili_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,684},{61,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,34}}</string>
                <key>sourceSize</key>
                <string>{61,34}</string>
            </dict>
            <key>icon_meili_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,405},{63,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,36}}</string>
                <key>sourceSize</key>
                <string>{63,36}</string>
            </dict>
            <key>icon_wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,405},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>info_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,102},{502,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,48}}</string>
                <key>sourceSize</key>
                <string>{502,48}</string>
            </dict>
            <key>info_title_contest.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,52},{502,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,48}}</string>
                <key>sourceSize</key>
                <string>{502,48}</string>
            </dict>
            <key>info_title_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{502,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,48}}</string>
                <key>sourceSize</key>
                <string>{502,48}</string>
            </dict>
            <key>infobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,742},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>infobg_contest.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,588},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>infobg_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>liuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{254,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,140}}</string>
                <key>sourceSize</key>
                <string>{254,140}</string>
            </dict>
            <key>maima_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,896},{92,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,118}}</string>
                <key>sourceSize</key>
                <string>{92,118}</string>
            </dict>
            <key>north.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,139},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>operate_btn_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{264,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,114}}</string>
                <key>sourceSize</key>
                <string>{264,114}</string>
            </dict>
            <key>pass_btn_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,268},{262,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,112}}</string>
                <key>sourceSize</key>
                <string>{262,112}</string>
            </dict>
            <key>peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,880},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>personal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,244},{104,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,55}}</string>
                <key>sourceSize</key>
                <string>{104,55}</string>
            </dict>
            <key>pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,382},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>qibao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,896},{174,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,110}}</string>
                <key>sourceSize</key>
                <string>{174,110}</string>
            </dict>
            <key>qipao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{174,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,110}}</string>
                <key>sourceSize</key>
                <string>{174,110}</string>
            </dict>
            <key>startgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{514,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,130}}</string>
                <key>sourceSize</key>
                <string>{514,130}</string>
            </dict>
            <key>table_botten.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,139},{10,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,46}}</string>
                <key>sourceSize</key>
                <string>{10,46}</string>
            </dict>
            <key>tanhao_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,880},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>time_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,792},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>time_board_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,704},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>time_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,796},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>time_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,553},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>time_up_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,796},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>ting_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,152},{264,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,114}}</string>
                <key>sourceSize</key>
                <string>{264,114}</string>
            </dict>
            <key>ting_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,704},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>ting_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,680},{68,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,22}}</string>
                <key>sourceSize</key>
                <string>{68,22}</string>
            </dict>
            <key>treasure_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,822},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>tuoguan_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{48,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,162}}</string>
                <key>sourceSize</key>
                <string>{48,162}</string>
            </dict>
            <key>tuoguan_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,822},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>xuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{399,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,3}}</string>
                <key>sourceSize</key>
                <string>{399,3}</string>
            </dict>
            <key>zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,134},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,152},{236,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,114}}</string>
                <key>sourceSize</key>
                <string>{236,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_scene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e36606cf536eb6ffbdd3b89ec59371a:1/1$</string>
            <key>textureFileName</key>
            <string>game_scene.png</string>
        </dict>
    </dict>
</plist>
