<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>General_pop_title_word_gmwp.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,864},{156,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,38}}</string>
                <key>sourceSize</key>
                <string>{158,38}</string>
            </dict>
            <key>General_tips_bubble01.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>General_tips_bubble01_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,970},{33,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>Zmwf_general_js_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,180},{85,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,56}}</string>
                <key>sourceSize</key>
                <string>{85,56}</string>
            </dict>
            <key>Zmwf_tx_general_word_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,632},{90,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{90,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>Zmwf_tx_general_word_lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,846},{104,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{104,122}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
            <key>Zmwf_tx_ncmj_word_qhj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{361,134}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{361,134}}</string>
                <key>sourceSize</key>
                <string>{429,134}</string>
            </dict>
            <key>Zmwf_tx_ncmj_word_zyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,648},{357,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{357,134}}</string>
                <key>sourceSize</key>
                <string>{429,134}</string>
            </dict>
            <key>baipai_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,648},{184,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,92}}</string>
                <key>sourceSize</key>
                <string>{184,94}</string>
            </dict>
            <key>zjz_jspz_bar_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,978},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{68,33}</string>
            </dict>
            <key>zjz_piao_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,122},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>zjz_piao_btn_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,64},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>zjz_piao_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,431},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>zjz_piao_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,267},{162,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{162,52}</string>
            </dict>
            <key>zjz_piao_confirm_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,648},{196,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,74}}</string>
                <key>sourceSize</key>
                <string>{196,74}</string>
            </dict>
            <key>zjz_piao_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,970},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>zjz_piao_ingBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,846},{130,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,38}}</string>
                <key>sourceSize</key>
                <string>{130,38}</string>
            </dict>
            <key>zjz_pop_hfcx_floor_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,648},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>zjz_pop_wfjs_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{956,556}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{956,556}}</string>
                <key>sourceSize</key>
                <string>{960,556}</string>
            </dict>
            <key>zjz_pop_wfjs_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,648},{188,68}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{188,68}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>zjz_pop_wfjs_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,648},{214,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>zjz_pop_wfjs_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,595},{51,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>zjz_pop_wfjs_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,648},{350,247}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{350,247}}</string>
                <key>sourceSize</key>
                <string>{354,251}</string>
            </dict>
            <key>zjz_pop_wfjs_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{958,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{958,70}}</string>
                <key>sourceSize</key>
                <string>{958,72}</string>
            </dict>
            <key>zjz_pop_word_title_hfcx.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,864},{145,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,35}}</string>
                <key>sourceSize</key>
                <string>{145,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mahj_common_001.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:875146d1d626d2368ed7ffd9d09c97c1:1/1$</string>
            <key>textureFileName</key>
            <string>mahj_common_001.png</string>
        </dict>
    </dict>
</plist>
