<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{113,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,62}}</string>
                <key>sourceSize</key>
                <string>{113,62}</string>
            </dict>
            <key>newbie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,100}}</string>
                <key>sourceSize</key>
                <string>{194,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nt_effect.png</string>
            <key>size</key>
            <string>{313,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74f3a08f05a6eb24d8645f33a5612222:1/1$</string>
            <key>textureFileName</key>
            <string>nt_effect.png</string>
        </dict>
    </dict>
</plist>
