<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>General_chendi_btu.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>General_mark_redline.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,55},{23,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,9}}</string>
                <key>sourceSize</key>
                <string>{23,9}</string>
            </dict>
            <key>General_pop_bottom_yuantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,334},{102,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,66}}</string>
                <key>sourceSize</key>
                <string>{102,66}</string>
            </dict>
            <key>General_pop_bottom_yuantiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{102,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,66}}</string>
                <key>sourceSize</key>
                <string>{102,66}</string>
            </dict>
            <key>General_pop_bottom_zhijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{102,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,66}}</string>
                <key>sourceSize</key>
                <string>{102,66}</string>
            </dict>
            <key>General_pop_bottom_zhijiao_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,402},{100,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,55}}</string>
                <key>sourceSize</key>
                <string>{100,55}</string>
            </dict>
            <key>General_pop_bottom_zhijiao_di02.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,459},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>General_pop_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,330}}</string>
                <key>sourceSize</key>
                <string>{424,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scale_sprite_01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b02a8cddd48ef380a884b588120b4898:1/1$</string>
            <key>textureFileName</key>
            <string>scale_sprite_01.png</string>
        </dict>
    </dict>
</plist>
