<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamescene_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,78},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>gamescene_chat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{80,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>gamescene_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{85,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,62}}</string>
                <key>sourceSize</key>
                <string>{85,62}</string>
            </dict>
            <key>gamescene_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,78},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>gamescene_more_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,448}}</string>
                <key>sourceSize</key>
                <string>{124,448}</string>
            </dict>
            <key>gamescene_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{126,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,72}}</string>
                <key>sourceSize</key>
                <string>{126,72}</string>
            </dict>
            <key>gamescene_photo.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,76},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>gamescene_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>gamescene_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,66},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>gamescene_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>table_more_menu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a22982368aa9c3120c1e8a4e3637a38f:1/1$</string>
            <key>textureFileName</key>
            <string>table_more_menu.png</string>
        </dict>
    </dict>
</plist>
