<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Paizhuo_name_crmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,745},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_dgmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{313,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,83}}</string>
                <key>sourceSize</key>
                <string>{313,83}</string>
            </dict>
            <key>Paizhuo_name_dxmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,670},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_fzlamj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_fzmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,650},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_ganzhoumj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,82}}</string>
                <key>sourceSize</key>
                <string>{314,82}</string>
            </dict>
            <key>Paizhuo_name_gcmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,575},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_hzmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{309,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,105}}</string>
                <key>sourceSize</key>
                <string>{309,105}</string>
            </dict>
            <key>Paizhuo_name_jagj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_jaxmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,555},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_jdzmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,480},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_jsmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_jxmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,460},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_lcmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,385},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_nanchengmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_ncmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{307,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,87}}</string>
                <key>sourceSize</key>
                <string>{307,87}</string>
            </dict>
            <key>Paizhuo_name_nfmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,91},{303,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,102}}</string>
                <key>sourceSize</key>
                <string>{303,102}</string>
            </dict>
            <key>Paizhuo_name_scc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{228,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,85}}</string>
                <key>sourceSize</key>
                <string>{228,85}</string>
            </dict>
            <key>Paizhuo_name_thgj.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,365},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_xgbjmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,290},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_xgcgmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_xgmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,270},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_yhmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,195},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_ziximj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
            <key>Paizhuo_name_zzmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,87},{307,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,86}}</string>
                <key>sourceSize</key>
                <string>{307,86}</string>
            </dict>
            <key>Zm_poyang_word_playtype_pymj.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,175},{303,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,93}}</string>
                <key>sourceSize</key>
                <string>{303,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>table_extend_00.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b504afe50ef4f8ba087d222fd5368959:1/1$</string>
            <key>textureFileName</key>
            <string>table_extend_00.png</string>
        </dict>
    </dict>
</plist>
