<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>voicIngBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{162,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,121}}</string>
                <key>sourceSize</key>
                <string>{162,121}</string>
            </dict>
            <key>voice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,185},{12,20}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>voice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,34},{16,20}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>voice3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,224},{20,20}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>voice4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,34},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>voiceBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>voiceBtn_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>voiceBtn_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,146},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>voiceGreen0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,256},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>voiceGreen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,224},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>voiceGreen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,223},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>voiceGreen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,190},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>voiceGreen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,157},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>voiceGreen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>voiceTipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,30}}</string>
                <key>sourceSize</key>
                <string>{209,30}</string>
            </dict>
            <key>voice_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,68},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>voice_talking.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b321c69e202b0044c84ba8defd07166:1/1$</string>
            <key>textureFileName</key>
            <string>voice_talking.png</string>
        </dict>
    </dict>
</plist>
